$font-size: 14px;
$font-family: Monaco, monospace;

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-family: $font-family;
  color: white;
  background-color: black;

  main {
    width: 100%;
    height: 100%;

    ol {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;

        code {
          display: block;
          white-space: pre-wrap;
          font-size: $font-size;
          font-family: $font-family;

          a {
            color: white;
          }
        }

        input {
          width: 80%;
          margin: 0;
          padding: 0;
          font-size: $font-size;
          font-family: $font-family;
          color: white;
          background-color: black;
          border-color: black;
          border-width: 0;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}